#root {
  display: flex;
  flex-flow: column wrap;
}

.deck {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  width: 125px;
  height: 200px;
  margin: 15px;
  padding: 5px;
}

.bigger-card {
  display: flex;
  width: 150px;
  height: 250px;
  margin: 15px;
  padding: 5px;
}

.card-black {
  color: black;
}

.card-red {
  color: red;
}

.pattern {
  border: 10px solid;
  border-collapse: collapse;
  border-color: #1D1D1D;
  width: 200px;
  height: 200px;
  margin: 10px auto;
  text-align: center;
  background-color: white;
}

.pattern td {
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-color: #1D1D1D;
  font-size: 16px;
  color: red;
}

.button {
  padding: 8px 16px;
  margin: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.button:hover {
  border: 1px solid #1898d5;
  border-radius: 20px;
  cursor: pointer;
}

.button-div {
  width: 100%;
  text-align: center;
}

.left-panel {
  width: 20%;
  height: 100px;
  float: left;
}

.right-panel {
  margin-left: 20%;
  margin-right: 10px;
  margin-top: 10px;
  height: 100px;
}

.deck td {
  width: 75px;
  height: 75px;
}

.deck th {
  min-width: 75px;
  height: 75px;
}

.deck {
  font-size: 55px;
  letter-spacing: -3px;
  border-collapse: collapse;
  text-align: center;
  background-color: #1D1D1D;
  width: 100%;
  min-height: 300px;
}

.deck th {
  background-color: #FFFFFF;
}

.not-drawn {
  color: #323232;
}

.drawn {
  color: #FFFFFF;
}

.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.delay {
  color: white;
  text-align: center;
}

.big-circle {
  border-radius: 50%;
  width: 225px;
  height: 225px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin: 25px;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin: 90px 25px 90px 25px;
}

.big-inner-circle {
  border-radius: 50%;
  width:125px;
  height: 125px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
  margin: 40px;
}

.inner-circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}

.B-color {
  background-color: rgb(49, 145, 231);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.I-color {
  background-color: rgb(5, 108, 43);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.N-color {
  background-color: rgb(204, 23, 23);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.G-color {
  background-color: rgb(231, 222, 49);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.O-color {
  background-color: rgb(235, 152, 78);
	box-shadow: inset -25px -15px 40px rgba(0,0,0,.3);
	background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}

.B-text-color {
  color: rgb(49, 145, 231);
}

.I-text-color {
  color: rgb(5, 108, 43);
}

.N-text-color {
  color: rgb(204, 23, 23);
}

.G-text-color {
  color: rgb(231, 222, 49);
}

.O-text-color {
  color: rgb(242, 148, 7);
}

.big-centered-line {
  line-height: 125px;
  font-size: 55px;
  letter-spacing: -3px;
}

.centered-line {
  line-height: 75px;
  font-size: 40px;
  letter-spacing: -3px;
}

select {
  padding: 8px 16px;
  margin: 16px;
}